<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="homePage()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="gap">Hospital System</span>
  <button mat-raised-button color= "accent" class="doctor" id="patientBtn" (click)="onSubmit()">Patients</button>
  <button mat-raised-button color= "basic" (click)="onSubmitDoctor()">Doctors</button>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="footer" #footer>
  Copyright© 2022, Hospital System
  </div>